Binaries
DerivedDataCache
Intermediate
Saved
*.opensdf
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.VC.opendb
Time
Assignment2.uproject - Shortcut.lnk
Assignment2 - genväg.lnk
Output Data
Input Data
Output Data/Waypoints.txt
Input Data/positions.txt
Output Data/Waypoints.txt
Output Data/Waypoints.txt